<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeapao.andorid">



    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/> //wechat



    <!--jPush-->
    <permission
        android:name="com.yeapao.andorid.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.yeapao.andorid.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />



<!--百度地图权限-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>



    <application
        android:name=".YepaoApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9ae4wy1tUb78NxmHmdnLmOhuHPMZismO" />

        <!--jpush 服务配置-->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.yeapao.andorid"/>
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.yeapao.andorid"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>



        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yeapao.andorid" />
            </intent-filter>
        </activity>
        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yeapao.andorid" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- Required since 3.0.7 -->
        <!-- 新的tag/alias接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承JPush提供的JPushMessageReceiver类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".yeapaojpush.MyJPushMessageReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.yeapao.andorid" />
            </intent-filter>
        </receiver>

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".yeapaojpush.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.yeapao.andorid" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="b268156e710fa2cb742f8df5"/>


        <activity android:name=".yeapaojpush.TestJpushActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="jpush.testAction" />
                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>





        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->

        <!--wechat-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />





        <!--选择图片控件-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhihu.matisse.sample.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"></meta-data>
        </provider>

        <activity
            android:name=".YeaPaoIntroActivity"
            android:theme="@style/splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/app_name">

        </activity>
        <activity android:name=".storedetails.StoreDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".lessondetails.LessonDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".homepage.shopping.ShoppingOrderActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.circle.CirclePublishContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.circle.circledetail.CircleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.myself.tab.MyselfClockOutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfPostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.myself.tab.MyselfLessonActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.myself.tab.MyselfOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfOrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfFoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfFeedBackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.shopkeeper.MyselfShopOwnerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".homepage.myself.tab.shopkeeper.ShopKeeperLessonReservationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.myself.tab.shopkeeper.PhysicalReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.shopkeeper.PhysicalTestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.shopkeeper.PhysicalTestSecondActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.shopkeeper.PhysicalTestThirdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.shopkeeper.PhysicalTestForthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.coach.MyselfCoachActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.coach.CoachLessonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.coach.CoachLessonStatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.food.MyselfFoodV2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.food.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfHealthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.health.HealthRepositoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="健康数据库"/>

        <activity
            android:name=".homepage.myself.tab.health.testCoordinatorLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.myself.tab.health.BodySideDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".homepage.shopping.ShoppingListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.shopping.PainStatusActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.shopkeeper.MyselfClockOutActivityV2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.lesson.recommendlesson.RecommendLessonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.message.MyMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.message.ClockCardListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.message.ReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.message.VideoMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userinfo.FillUserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userinfo.FitnessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userinfo.BodySituationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.myself.tab.setting.YeaPaoInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.myself.tab.setting.ChangeDataActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.shopping.PainStatusWomenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.shopping.ContinuePayOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.map.TestScanActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.map.repository.RepairActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.map.repository.DepositActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.myself.MyselfCertificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.myself.MyselfRefundActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.map.repository.ReservationCangActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.map.repository.ReservationCangPayActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.map.repository.CangDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.map.repository.StartSportActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.map.repository.SportFinishActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.myself.orders.MyselfOrdersActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".homepage.myself.orders.CangOrderPayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.orders.CangOrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".homepage.message.CircleMessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.map.repository.PaySuccessActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".photo.PhotoViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>