<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yeapao.andorid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".storedetails.StoreDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".lessondetails.LessonDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".homepage.shopping.ShoppingOrderActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.circle.CirclePublishContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.circle.circledetail.CircleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.myself.tab.MyselfClockOutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfPostActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".homepage.myself.tab.MyselfLessonActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.myself.tab.MyselfOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfOrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfFoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.MyselfFeedBackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".homepage.myself.tab.shopkeeper.MyselfShopOwnerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".homepage.myself.tab.shopkeeper.ShopKeeperLessonReservationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".homepage.myself.tab.shopkeeper.PhysicalReservationActivity"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>